<mat-dialog-content>
  <div class="dialog">
    <div class="infosDial">
      <h2 mat-dialog-title>{{ title }}</h2>
      <div class="infosBook">
        <p>{{ publishedDate == undefined ? 'Non communiqué' :  publishedDate  | date:'dd/MM/yyyy' }}</p>
        <p>{{ authors == undefined ? 'Non communiqué' : authors}}</p>
      </div>
      <p class="desc">{{ description == undefined ? 'Non communiqué' : description }}</p>    

      <mat-dialog-actions>
        <div class="footerDialog">
          <a [href]="infoLink" target="_blank">En savoir plus ?</a>
          <button class="mat-raised-button" mat-button [mat-dialog-close]="true">Fermer</button>
        </div>
      </mat-dialog-actions>      
    </div>
    <img [src]="imageLinks" [alt]="title"/>
  </div>
</mat-dialog-content>
