<header routerLink="/" class="header">
  <a class="headerLogo">
    <img src="../../assets/logo/adzbooks_logo.png" alt="ADZbooks logo">
  </a>
</header>

<div class="container">
  <div class="filter">

    <form class="searchForm" (ngSubmit)="submit(field.value)" >
      <input class="searchBar" #field type="text" placeholder="Auteur, catégorie, titre">
      <!-- <button class="exploreBtn" type="submit" [disabled]="!searchForm.form.valid">Explore</button>-->
    </form>
  
    <div class="selectFilter">
      <mat-select class="select" name="authors" id="authors"  placeholder="Choisir l'auteur"> 
          <mat-option (click)='ngOnInit()' value="reset">Aucun</mat-option>
          <mat-option (onSelectionChange)='getByAuthor($event)' *ngFor="let author of authors" value="{{ author }}" >{{ author }}</mat-option>
      </mat-select>
  
      <mat-select class="select" name="category" id="category"  placeholder="Choisir la catégorie"> 
          <mat-option (click)='ngOnInit()' value="reset">Aucun</mat-option>
          <mat-option (onSelectionChange)='getByCategory($event)' *ngFor="let category of categories" value="{{ category }}" >{{ category }}</mat-option>
      </mat-select> 
      
      <button routerLink="/">Retour</button>
    </div>
  </div>
  
  
  <div *ngFor="let book of books | keyvalue | slice:0:1;" class="listBooks">
    <div *ngFor="let book of book.value | keyvalue" class="book" (click)='openDialog(book.value.volumeInfo)'>    
      <h2>{{ book.value.volumeInfo.title }}</h2>
      <img class="coverBook"  [src]="book.value.volumeInfo.imageLinks.thumbnail" [alt]="book.value.volumeInfo.title"/>
    </div>
  </div>
  <nav>
    <ul class="pagination">      
        <li *ngFor="let item of arrayOne(totalItems); let i = index;"><span (click)="changePage(i)" class="page-link" >{{i+1}}</span></li>
    </ul>
  </nav>
</div>
